.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainPage{
  width: 80%;
  margin: auto;
}

/* LandingPage */

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selection{
  font-weight: normal;
}

.mainButton{
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  width: 150px;
}

.landingPageButtonsDiv{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CreateAccount */

.setupInstitution{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.createAccountForm{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  /* justify-content: center; */
}

.formDiv{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.formInput{
  border-radius: 8px;
  border: 1px solid black;
  width: 85%;
  height: 20px;
}

.formLabel{
  margin-right: 4px;
  width: 15%;
  flex-shrink: 0;
}

.createAccountButton{
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  width: 150px;
  margin: auto;
}

/* Institution Dashboard */

.institutionDashboardPage{
  display: flex;
  flex-direction: column;
}

.topBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBarDiv{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchBar{
  width: 50%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
}

.patientCardGrid{
 display: flex;
 flex-wrap: wrap;
 width: 75%;
 margin: 0 auto;
}

.cardItem{
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
}



/* Patient Card */

.patientCard{
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.table{
  table-layout: fixed;
  width: 100%;
}

.tableHeader{
  text-align: center;
}

td{
  text-align: center;
}

.tableContainer{
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid black;
}

/* SearchPage */
.searchContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.searchBar{
  border-radius: 8px;
  border: 1px solid black;
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
}

.searchForm{
  display: flex;
  flex-direction: column;
  width: 35%;
}

/*  PatientVaccineSummary   */

.vaccineSummaryTitleDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  PatientVaccineSummary   */

.cardContainer{
  border-radius: 8px;
  border: 1px solid black;
  width: 500px;
}

.cardTitle{
  display: flex;
  justify-content: center;
}

.cardDetails{
  display: flex;
  justify-content: space-around;
}
.cardDetail{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardDetailTitle{
 text-decoration: underline;
}

/*toggle button*/

.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  padding: 3px;
  margin: 0 10px 10px 0;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  box-sizing: content-box;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-sizing: content-box;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background: red;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  box-sizing: content-box;
}

.switch-label:before,
.switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  box-sizing: content-box;
}

.switch-label:before {
  content: attr(data-off);
  right: 12px;
  color: white;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
  content: attr(data-on);
  left: 12px;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.switch-input:checked~.switch-label {
  background: #183F7C;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked~.switch-label:before {
  opacity: 1;
}

.switch-input:checked~.switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, red, #FFFFFF);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.switch-input:checked~.switch-handle {
  left: 34.5px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-label,
.switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

.toggle-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.toggle-button.toggled {
  background-color: #3f51b5;
}

