.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainPage{
  width: 80%;
  margin: auto;
}

/* LandingPage */

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selection{
  font-weight: normal;
}

.mainButton{
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  width: 150px;
}

.landingPageButtonsDiv{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CreateAccount */

.setupInstitution{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.createAccountForm{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  /* justify-content: center; */
}

.formDiv{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.formInput{
  border-radius: 8px;
  border: 1px solid black;
  width: 85%;
  height: 20px;
}

.formLabel{
  margin-right: 4px;
  width: 15%;
  flex-shrink: 0;
}

.createAccountButton{
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  width: 150px;
  margin: auto;
}

/* Institution Dashboard */

.institutionDashboardPage{
  display: flex;
  flex-direction: column;
}

.topBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBarDiv{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchBar{
  width: 50%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
}

.patientCardGrid{
 display: flex;
 flex-wrap: wrap;
 width: 75%;
 margin: 0 auto;
}

.cardItem{
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
}



/* Patient Card */

.patientCard{
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.table{
  table-layout: fixed;
  width: 100%;
}

.tableHeader{
  text-align: center;
}

td{
  text-align: center;
}

.tableContainer{
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid black;
}

/* SearchPage */
.searchContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.searchBar{
  border-radius: 8px;
  border: 1px solid black;
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
}

.searchForm{
  display: flex;
  flex-direction: column;
  width: 35%;
}

